<%= stylesheet_link_tag "style.css" %>
<footer>
<div class="footer">
  <div class="footer-items-hold">
    <div class="links">
      <%= link_to 'Join Us', info_join_path %> |  <%= link_to 'Team', info_team_path %><br>
      <%= link_to 'Privacy', info_privacy_path %> |
      <%= link_to 'License'  %>
    </div>
    <div class="footer-text">
      <p>DataIN  is  developed  in 2016  by  Fatjon Kerxhaliu.Some  fo  the  images used  in  this  website  are  taken  through different  sources  with  their  permission</p>
    </div> 
    <div class="media">
    <%= link_to image_tag('fb.jpg'), "http://www.facebook.com/"%>
    </div><div class="media">
    <%= link_to image_tag('twitter.jpg'), "http://www.twitter.com/"%></div><div class="media">
    <%= link_to image_tag('instagram.png'), "http://www.instagram.com/"%>
    </div>
  </div>
</div>
</footer>