<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "style.css" %>
  </head>
  <body>
  
    <%= render 'layouts/navigation' %>
    
        <%= render 'layouts/notification' %>
      <%= yield %>
   
     <%= render 'layouts/navigationFooter'%>
     
   
  </body>
</html>